<nav class="main_header_nav">
    <ul class="main_header_nav_list">
        <li class="main_header_nav_item">
            <a href="#">Home</a>
        </li>
        <li class="main_header_nav_item">
            <a href="#">Products</a>
        </li>
        <li class="main_header_nav_item">
            <a href="#">Add Product</a>
        </li>
        <li class="main_header_nav_item">
            <a href="#">Cart</a>
        </li>
    </ul>
</nav>